* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
  }
  html {
    font-size: 16px;
  }

  ::selection {
    background: none;
   }
   

      .back-btn{
        position: fixed;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 30px;
        background: none;
        font-size: 2em;
        color: #00aaff;
        top: 5px;
        left: 10px;
    }

  .TTT-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .TTT-container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .TTT-button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  #TTT-restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    border: solid 2px #0a0027;
  }

  #TTT-restart:hover{
    color: #fff;
    /* background: #02ff63; */
    background: transparent;
    border-color: #0a0027;
    transition: ease-in-out 0.7s;
  }

  .TTT-popup {
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #TTT-new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    border: solid 2px #0a0027;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
  }

  #TTT-new-game:hover{
    color: #fff;
    /* background: #02ff63; */
    background: transparent;
    border-color: #0a0027;
    transition: ease-in-out 0.7s;
  }


  #TTT-message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }
  .TTT-popup.TTT-hide {
    display: none;
  }